.tag-cloud {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 12px 16px;
  padding: 20px;
  height: 100%;
  align-content: center;
  max-width: 800px;
  margin: 0 auto;
}

.tag {
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 1.5;
  transition: all 0.25s ease;
  position: relative;
  text-align: center;

  &.selected {
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -4px;
      width: 100%;
      height: 2px;
      background-color: var(--ion-color-text);
      transition: width 0.3s ease;
    }
  }
}
