<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Narratives</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- Topic search input -->
  <ion-item>
    <ion-label position="floating">Topic</ion-label>
    <ion-input
      [(ngModel)]="topicSearch"
      (ionInput)="searchTopics(($event.target.value ?? '').toString())"
      [readonly]="selectedTopic"
      placeholder="Search topic..."
    ></ion-input>
    <ion-button
      *ngIf="selectedTopic"
      fill="clear"
      (click)="clearTopic()"
      slot="end"
      class="clear-btn"
      >✕</ion-button
    >
  </ion-item>

  <!-- Search results dropdown -->
  <ion-list *ngIf="topics.length && !selectedTopic" class="fade-in">
    <ion-item button *ngFor="let topic of topics" (click)="selectTopic(topic)">
      {{ topic.name }} ({{ topic.area?.name }})
    </ion-item>
  </ion-list>

  <!-- Optional filters -->
  <ion-item>
    <ion-label>Countries</ion-label>
    <ion-select
      [(ngModel)]="selectedCountries"
      multiple="true"
      placeholder="Select countries"
    >
      <ion-select-option
        *ngFor="let country of countries"
        [value]="country.country_id"
      >
        {{ country.name }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Genders</ion-label>
    <ion-select
      [(ngModel)]="selectedGenders"
      multiple="true"
      placeholder="Select genders"
    >
      <ion-select-option *ngFor="let gender of genders" [value]="gender">
        {{ gender }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Age Range</ion-label>
    <ion-select
      [(ngModel)]="selectedAgeRange"
      multiple="true"
      placeholder="Select age range"
    >
      <ion-select-option *ngFor="let range of ageRanges" [value]="range">
        {{ range.label }}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button expand="block" (click)="seeAISummary()"
    >Generate AI Summary</ion-button
  >

  @if (loading) {
  <standalone-spinner message="Building a narrative..."></standalone-spinner>
  } @else {
  <p *ngIf="aiSummary" class="ai-summary">{{ aiSummary }}</p>
  <ion-button *ngIf="aiSummary" expand="block" (click)="clearNarrative()">
    Clear Narrative
  </ion-button>
  }
</ion-content>
