ion-item {
  --padding-top: 4px;
  --padding-bottom: 4px;
  margin-bottom: 8px;
}

ion-label {
  font-size: 0.9rem;
}

ion-input {
  font-size: 0.9rem;
  height: 32px;
}

ion-button {
  --padding-top: 6px;
  --padding-bottom: 6px;
  font-size: 0.9rem;
  margin-top: 6px;
}

.horizontal-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 16px;
  padding: 20px;
  scrollbar-color: var(--ion-color-primary) transparent;
  scrollbar-width: thin;
}

standalone-user.selected {
  border-radius: 50%;
  box-shadow: 0 0 20px var(--ion-color-primary);
  transition: 0.2s ease;
}

.user-profile-card {
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .user-info {
    display: flex;
    flex-direction: column;
  }

  .user-flag {
    display: flex;
    align-items: center;
  }

  .info-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 12px;
    margin: 20px 0px;
  }
}
