<ion-app>
  <ion-content class="ion-padding">
    @if (loading) {
    <app-loading-spinner message="Loading facts..."></app-loading-spinner>\ }
    @else {
    <ion-list class="horizontal-list">
      @for (user of users; track user.user_id) {
      <standalone-user [user]="user"></standalone-user>
      } @empty {
      <p>No users available.</p>
      }
    </ion-list>
    } @if (!showForm) {
    <ion-button
      expand="block"
      type="button"
      (click)="showForm = !showForm"
      style="margin-bottom: 16px"
    >
      Verify Historian Status
    </ion-button>
    } @if (showForm) { @if (loadingBlockchain) {
    <app-loading-spinner
      message="Loading blockchain data..."
    ></app-loading-spinner>
    } @else {
    <form
      class="form-container"
      (submit)="
        registerHistorian(historianName, historianInstitution);
        $event.preventDefault()
      "
    >
      <ion-button expand="block" (click)="connectMetaMask()" type="button">
        {{ account ? "Connected!" : "Connect MetaMask" }}
      </ion-button>

      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input
          [(ngModel)]="historianName"
          name="name"
          [disabled]="!account || isRegistered"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Institution</ion-label>
        <ion-input
          [(ngModel)]="historianInstitution"
          name="institution"
          [disabled]="!account || isRegistered"
        ></ion-input>
      </ion-item>

      <ion-button
        expand="block"
        type="submit"
        [disabled]="!account || isRegistered"
        style="margin-top: 12px"
      >
        {{ isRegistered ? "Already Registered" : "Register as Historian" }}
      </ion-button>

      <ion-button
        expand="block"
        type="button"
        (click)="getHistorianInfo()"
        [disabled]="!account"
        style="margin-top: 12px"
      >
        Get My Info
      </ion-button>
      <ion-button
        expand="block"
        type="button"
        (click)="showForm = !showForm"
        style="margin-bottom: 16px"
        color="danger"
      >
        Close Form
      </ion-button>
    </form>
    @if (isRegistered && account) {
    <ion-card style="margin-top: 24px">
      <ion-card-header>
        <ion-card-title>Historian Tools</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form (submit)="$event.preventDefault(); createNewTopic()">
          <ion-item>
            <ion-label position="floating">Name</ion-label>
            <ion-input
              [(ngModel)]="newTopic.name"
              name="name"
              required
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Area</ion-label>
            <ion-textarea
              [(ngModel)]="newTopic.area_name"
              name="area_name"
              required
            ></ion-textarea>
          </ion-item>
          <ion-button expand="block" type="submit" style="margin-top: 20px"
            >Submit Fact</ion-button
          >
        </form>
      </ion-card-content>
    </ion-card>
    <ion-card style="margin-top: 24px">
      <ion-card-header>
        <ion-card-title> Messages</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form
          class="form-container"
          (submit)="postMessage(historianMessage); $event.preventDefault()"
        >
          <ion-item>
            <ion-label position="floating">Message</ion-label>
            <ion-input
              [(ngModel)]="historianMessage"
              name="message"
              [disabled]="!account"
            ></ion-input>
          </ion-item>

          <ion-button
            expand="block"
            type="submit"
            [disabled]="!account"
            style="margin-top: 12px"
          >
            Post Message
          </ion-button>

          <ion-button
            expand="block"
            type="button"
            (click)="showMessages()"
            style="margin-bottom: 16px"
          >
            Show Messages
          </ion-button>
        </form>
      </ion-card-content>
    </ion-card>

    } }}
  </ion-content>
</ion-app>
