<ion-app>
  <ion-content class="ion-padding">
    @if (loading) {
    <standalone-spinner message="Loading users..."></standalone-spinner>\ }
    @else {
    <ion-list class="horizontal-list">
      @for (user of users; track user.user_id) {
      <standalone-user [user]="user" (click)="showUser(user)"></standalone-user>
      } @empty {
      <p>No users available.</p>
      }
    </ion-list>
    }
    <!-- Displayed User Profile -->
    @if (displayedUser) {
    <ion-card class="user-profile-card">
      <ion-card-header>
        <div class="header-container">
          <div class="user-info">
            <ion-card-title>{{ displayedUser.name || '—' }}</ion-card-title>
            <ion-card-subtitle
              >{{ displayedUser.email || '—' }}</ion-card-subtitle
            >
          </div>
          <div class="user-flag">
            <span
              [class]="'fi fi-' + (displayedUser.country?.code?.toLowerCase() || '')"
              style="font-size: 3rem"
            ></span>
          </div>
        </div>
      </ion-card-header>

      <ion-card-content>
        <div class="info-grid">
          <div>
            <strong>Country:</strong> {{ displayedUser.country?.name || '—' }}
          </div>
          <div><strong>Gender:</strong> {{ displayedUser.gender || '—' }}</div>

          <div><strong>User ID:</strong> {{ displayedUser.user_id }}</div>
        </div>
        <div class="info-grid">
          <div>
            <strong>Date of Birth:</strong> {{ displayedUser.date_of_birth ||
            '—' | dateFormat}}
          </div>
        </div>
        <div class="info-grid">
          <div>
            <strong>Joined:</strong> {{ displayedUser.date_joined || '—' |
            dateFormat}}
          </div>
        </div>
        @if (selectedUser) {
        <ion-button
          color="medium"
          (click)="showCurrentUser()"
          style="margin-top: 16px"
        >
          Back to My Profile
        </ion-button>
        }
      </ion-card-content>
    </ion-card>
    } @if (!showForm) {
    <ion-button
      expand="block"
      type="button"
      (click)="showForm = !showForm"
      style="margin-bottom: 16px"
    >
      Verify Historian Status
    </ion-button>
    } @if (showForm) { @if (loadingBlockchain) {
    <standalone-spinner
      message="Loading blockchain data..."
    ></standalone-spinner>
    } @else {
    <form
      class="form-container"
      (submit)="
        registerHistorian(historianName, historianInstitution);
        $event.preventDefault()
      "
    >
      <ion-button expand="block" (click)="connectMetaMask()" type="button">
        {{ account ? "Connected!" : "Connect MetaMask" }}
      </ion-button>

      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input
          [(ngModel)]="historianName"
          name="name"
          [disabled]="!account || isRegistered"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Institution</ion-label>
        <ion-input
          [(ngModel)]="historianInstitution"
          name="institution"
          [disabled]="!account || isRegistered"
        ></ion-input>
      </ion-item>

      <ion-button
        expand="block"
        type="submit"
        [disabled]="!account || isRegistered"
        style="margin-top: 12px"
      >
        {{ isRegistered ? "Already Registered" : "Register as Historian" }}
      </ion-button>

      <ion-button
        expand="block"
        type="button"
        (click)="getHistorianInfo()"
        [disabled]="!account"
        style="margin-top: 12px"
      >
        Get My Info
      </ion-button>
      <ion-button
        expand="block"
        type="button"
        (click)="showForm = !showForm"
        style="margin-bottom: 16px"
        color="danger"
      >
        Close Form
      </ion-button>
    </form>
    @if (isRegistered && account) {
    <ion-card style="margin-top: 24px">
      <ion-card-header>
        <ion-card-title>Historian Tools</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form (submit)="$event.preventDefault(); createNewTopic()">
          <ion-item>
            <ion-label position="floating">Name</ion-label>
            <ion-input
              [(ngModel)]="newTopic.name"
              name="name"
              required
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Area</ion-label>
            <ion-textarea
              [(ngModel)]="newTopic.area_name"
              name="area_name"
              required
            ></ion-textarea>
          </ion-item>
          <ion-button expand="block" type="submit" style="margin-top: 20px"
            >Submit Fact</ion-button
          >
        </form>
      </ion-card-content>
    </ion-card>
    <ion-card style="margin-top: 24px">
      <ion-card-header>
        <ion-card-title> Messages</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form
          class="form-container"
          (submit)="postMessage(historianMessage); $event.preventDefault()"
        >
          <ion-item>
            <ion-label position="floating">Message</ion-label>
            <ion-input
              [(ngModel)]="historianMessage"
              name="message"
              [disabled]="!account"
            ></ion-input>
          </ion-item>

          <ion-button
            expand="block"
            type="submit"
            [disabled]="!account"
            style="margin-top: 12px"
          >
            Post Message
          </ion-button>

          <ion-button
            expand="block"
            type="button"
            (click)="showMessages()"
            style="margin-bottom: 16px"
          >
            Show Messages
          </ion-button>
        </form>
      </ion-card-content>
    </ion-card>

    } }}
  </ion-content>
</ion-app>
