ion-item {
  --padding-top: 4px;
  --padding-bottom: 4px;
  margin-bottom: 8px;
}

ion-label {
  font-size: 0.9rem;
}

ion-input {
  font-size: 0.9rem;
  height: 32px;
}

ion-button {
  --padding-top: 6px;
  --padding-bottom: 6px;
  font-size: 0.9rem;
  margin-top: 6px;
}

.horizontal-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 16px;
  padding: 20px;
}
