.user-circle {
  background-color: white;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
}
