// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
  // Fonts
  --ion-font-family: "Merriweather", serif;
  --ion-font-family-heading: "Merriweather", serif;

  // Primary (Soft Forest Green)
  --ion-color-primary: #4a7c59;
  --ion-color-primary-rgb: 74, 124, 89;
  --ion-color-primary-contrast: #fff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3f6c4c;
  --ion-color-primary-tint: #5b9270;

  // Secondary (Warm Rust / Terracotta)
  --ion-color-secondary: #a35d40;
  --ion-color-secondary-rgb: 163, 93, 64;
  --ion-color-secondary-contrast: #fff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #904e36;
  --ion-color-secondary-tint: #b06f55;

  --ion-background-color: rgb(237, 236, 227);
  --ion-background-color-rgb: 237, 236, 227;

  --ion-background-color-100: rgb(226, 224, 208);
  --ion-background-color-100-rgb: 226, 224, 208;

  --ion-color-success: #2e7d32;
  --ion-color-success-rgb: 46, 125, 50;

  --ion-color-warning: #ffb300;
  --ion-color-warning-rgb: 255, 179, 0;

  --ion-color-danger: #c62828;
  --ion-color-danger-rgb: 198, 40, 40;
  --ion-color-light: #f4f5f8;
  --ion-color-medium: #92949c;
  --ion-color-dark: #222428;

  --ion-color-text: black;
}
