<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <div class="login-container">
    <form (submit)="$event.preventDefault(); login()">
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input
          type="email"
          [value]="credentials.email"
          (ionInput)="credentials.email = $event.detail.value ?? ''"
          required
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input
          type="password"
          [value]="credentials.password"
          (ionInput)="credentials.password = $event.detail.value ?? ''"
          required
        ></ion-input>
      </ion-item>

      @if (errorMessage) {
      <ion-text color="danger" class="ion-padding">{{ errorMessage }}</ion-text>
      }

      <ion-button
        expand="block"
        type="submit"
        [disabled]="!credentials.email || !credentials.password"
        class="ion-margin-top"
      >
        Login
      </ion-button>
    </form>

    <div class="ion-margin-top">
      <ion-text>
        Don't have an account?
        <span
          color="primary"
          style="cursor: pointer; color: var(--ion-color-primary)"
          (click)="goToRegister()"
          >Register</span
        >
      </ion-text>
    </div>
  </div>
</ion-content>
