<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (submit)="$event.preventDefault(); login()">
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input
        type="email"
        [value]="credentials.email"
        (ionInput)="credentials.email = $event.detail.value ?? ''"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input
        type="password"
        [value]="credentials.password"
        (ionInput)="credentials.password = $event.detail.value ?? ''"
        required
      ></ion-input>
    </ion-item>

    @if (errorMessage) {
    <ion-text color="danger" class="ion-padding">{{ errorMessage }}</ion-text>
    }

    <ion-button
      expand="block"
      type="submit"
      [disabled]="!credentials.email || !credentials.password"
      class="ion-margin-top"
    >
      Login
    </ion-button>
  </form>
  <div class="ion-text-center ion-margin-top">
    <ion-label position="fixed">Don't have an account? </ion-label>
    <ion-label
      position="fixed"
      color="primary"
      style="cursor: pointer"
      (click)="goToRegister()"
      >Register
    </ion-label>
  </div>
</ion-content>
