ion-input input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px var(--ion-background-color) inset !important;
  -webkit-text-fill-color: var(--ion-text-color) !important;
  caret-color: var(--ion-text-color);
}
