<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (submit)="$event.preventDefault(); register()">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input
        type="text"
        [value]="userData.name"
        (ionInput)="userData.name = $event.detail.value ?? ''"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input
        type="email"
        [value]="userData.email"
        (ionInput)="userData.email = $event.detail.value ?? ''"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input
        type="password"
        [value]="userData.password"
        (ionInput)="userData.password = $event.detail.value ?? ''"
        required
        minlength="8"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input
        type="password"
        [value]="userData.password_confirmation"
        (ionInput)="userData.password_confirmation = $event.detail.value ?? ''"
        required
      ></ion-input>
    </ion-item>

    @if (errorMessage) {
    <ion-text color="danger" class="ion-padding">{{ errorMessage }}</ion-text>
    }

    <ion-button
      expand="block"
      type="submit"
      [disabled]="!userData.name || !userData.email || !userData.password || !userData.password_confirmation"
      class="ion-margin-top"
    >
      Register
    </ion-button>
  </form>
</ion-content>
