<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-segment [(ngModel)]="selectedTab" color="primary">
        <ion-segment-button value="list">All Facts</ion-segment-button>
        <ion-segment-button value="contribute">Contribute</ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>
  @if (loading) {
  <standalone-spinner message="Loading facts..."></standalone-spinner>
  } @else {
  <ion-content>
    @if (selectedTab === 'list') {
    <div class="tag-cloud-container">
      <div
        class="drawer-content"
        [class.open]="drawerOpen"
        [class.closed]="!drawerOpen"
      >
        <standalone-tag-cloud
          [baseURL]="baseURL"
          (tagSelected)="onTagSelected($event)"
        ></standalone-tag-cloud>
      </div>
      <div class="drawer-toggle" (click)="drawerOpen = !drawerOpen">
        <ion-icon
          [name]="drawerOpen ? 'chevron-up-outline' : 'chevron-down-outline'"
        ></ion-icon>
      </div>
    </div>
    @for (fact of filteredFacts; track fact.fact_id) {
    <standalone-fact [fact]="fact"></standalone-fact>
    } @empty {
    <p>No facts available.</p>
    } } @if (selectedTab === 'contribute') {
    <form
      (submit)="$event.preventDefault(); factTranslated ? submitFact() : translateFact()"
      class="fact-form"
    >
      <ion-item>
        <ion-label position="floating">
          {{ factTranslated ? 'Translated Text' : 'Text' }}</ion-label
        >
        <ion-textarea
          [(ngModel)]="newFact.text"
          name="text"
          [readonly]="factTranslated"
          required
        ></ion-textarea>
      </ion-item>

      @if (factTranslated) {
      <ion-item class="fade-in">
        <ion-label position="floating">Original Text</ion-label>
        <ion-textarea [value]="newFact.originalText" readonly></ion-textarea>
      </ion-item>
      }

      <ion-item>
        <ion-label position="floating">Source</ion-label>
        <ion-textarea
          [(ngModel)]="newFact.source"
          name="source"
          required
          placeholder="Please provide the title, author and year of the work, if available"
          [readonly]="factTranslated"
        ></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Topic</ion-label>
        <ion-input
          [(ngModel)]="topicSearch"
          [readonly]="!!selectedTopic"
          name="topicSearch"
          (ionInput)="searchTopics(($event.target.value ?? '').toString())"
          placeholder="Search topic..."
          required
        ></ion-input>

        <!-- Clear button -->
        <ion-button
          *ngIf="selectedTopic"
          fill="clear"
          (click)="clearTopic()"
          slot="end"
          class="clear-btn"
        >
          ✕
        </ion-button>
      </ion-item>

      @if (topics.length && !selectedTopic) {
      <ion-list class="fade-in">
        @for (topic of topics; track topic.topic_id) {
        <ion-item button (click)="selectTopic(topic)">
          {{ topic.name }}
        </ion-item>
        }
      </ion-list>
      }

      <!-- Area selection samo ako se tema unosi -->
      @if (selectedTopic || topicSearch) {

      <!-- Postojeća tema -->
      @if (selectedTopic) {
      <ion-item class="fade-in">
        <ion-label position="floating">Area</ion-label>
        <ion-input [value]="selectedTopic.area.name" readonly></ion-input>
      </ion-item>
      }

      <!-- Nova tema -->
      @if (!selectedTopic) {
      <ion-item class="areaSelect fade-in">
        <ion-label position="floating">Area</ion-label>
        <ion-select
          [(ngModel)]="newFact.area_id"
          name="areaSelect"
          placeholder="Select an area"
        >
          @for (area of areas; track area.area_id) {
          <ion-select-option [value]="area.area_id"
            >{{ area.name }}</ion-select-option
          >
          }
          <ion-select-option [value]="null"
            >Other (enter manually)</ion-select-option
          >
        </ion-select>
      </ion-item>

      <!-- Nova oblast -->
      @if (newFact.area_id == null) {
      <ion-item class="fade-in">
        <ion-label position="floating">New Area Name</ion-label>
        <ion-input
          [(ngModel)]="newFact.new_area_name"
          name="newAreaName"
        ></ion-input>
      </ion-item>
      } } }
      <!-- Dugmad -->
      @if (!factTranslated) {
      <ion-button expand="block" type="submit" class="submit-btn">
        Submit Fact
      </ion-button>
      } @if (factTranslated) {
      <div>
        <ion-button expand="block" type="submit" class="submit-btn">
          Confirm Fact
        </ion-button>
        <ion-button
          expand="block"
          color="danger"
          class="submit-btn"
          (click)="resetFactForm()"
        >
          Discard Fact
        </ion-button>
      </div>

      }
    </form>

    }
  </ion-content>
  }
</ion-app>
