<ion-card>
  <!-- FRONT -->

  <ion-card-header class="card-header-with-button">
    <ion-card-title> {{ fact.topic_name }} </ion-card-title>
    <ion-button fill="clear" (click)="toggleFlip()"
      ><ion-icon name="search"></ion-icon
    ></ion-button>
  </ion-card-header>
  <ion-card-content>
    <p>{{ fact.text }}</p>
    <p><strong> Source: </strong> {{ fact.source }}</p>
    <p><strong> Entered: </strong>{{ fact.date_entered | dateFormat }}</p>
    <ng-container *ngIf="!flipped">
      <div class="vote-buttons">
        <ion-button
          fill="clear"
          [color]="fact.user_rating === 1 ? 'primary' : 'medium'"
          (click)="vote(fact.fact_id, true)"
        >
          <ion-icon slot="icon-only" name="thumbs-up"></ion-icon>
        </ion-button>

        <div class="like-bar-container">
          <div
            class="like-bar likes"
            [style.width.%]="
              fact.true_ratings + fact.false_ratings > 0
                ? (fact.true_ratings /
                    (fact.true_ratings + fact.false_ratings)) *
                  100
                : 0
            "
          ></div>
          <div
            class="like-bar dislikes"
            [style.width.%]="
              fact.true_ratings + fact.false_ratings > 0
                ? (fact.false_ratings /
                    (fact.true_ratings + fact.false_ratings)) *
                  100
                : 0
            "
          ></div>
        </div>

        <ion-button
          fill="clear"
          [color]="fact.user_rating === 0 ? 'danger' : 'medium'"
          (click)="vote(fact.fact_id, false)"
        >
          <ion-icon slot="icon-only" name="thumbs-down"></ion-icon>
        </ion-button>
      </div>

      <div class="country-flags-container">
        <span
          class="country-flag"
          [class]="
            'fi fi-' +
            (fact.true_country ? fact.true_country.toLowerCase() : 'un')
          "
        ></span>
        <span
          class="country-flag"
          [class]="
            'fi fi-' +
            (fact.false_country ? fact.false_country.toLowerCase() : 'un')
          "
        ></span>
      </div>

      <div class="fact-statistics-container">
        <div class="fact-statistic">
          {{ fact.true_ratings }} <ion-icon name="thumbs-up"></ion-icon>
        </div>
        <div class="fact-statistic">
          {{ fact.false_ratings }} <ion-icon name="thumbs-down"></ion-icon>
        </div>
      </div>
    </ng-container>
    @if (loading) {
    <standalone-spinner message="Loading details..."></standalone-spinner>
    } @else {
    <!-- BACK -->
    <ng-container *ngIf="flipped">
      <ion-card-content>
        <p><strong>Submitted by:</strong> {{ fact.user_name }}</p>

        <div class="fact-countries-container">
          <div class="supporters">
            <p><strong>Supporters:</strong></p>
            <div *ngFor="let c of fact.true_countries">
              <span
                class="country-flag"
                [class]="'fi fi-' + c.code.toLowerCase()"
              ></span>
              <span>{{ c.weight }}</span>
            </div>
          </div>

          <div class="deniers">
            <p><strong>Deniers:</strong></p>
            <div *ngFor="let c of fact.false_countries">
              <span>{{ c.weight }}</span>
              <span
                class="country-flag"
                [class]="'fi fi-' + c.code.toLowerCase()"
              ></span>
            </div>
          </div>
        </div>
      </ion-card-content>
    </ng-container>
    }
  </ion-card-content>
</ion-card>
