ion-item {
  --padding-top: 4px;
  --padding-bottom: 4px;
  margin-bottom: 8px;
}

ion-label {
  font-size: 0.9rem;
}

ion-input {
  font-size: 0.9rem;
  height: 32px;
}

ion-button {
  --padding-top: 6px;
  --padding-bottom: 6px;
  font-size: 0.9rem;
  margin-top: 6px;
}

// Veći ekrani
@media (min-width: 768px) {
  ion-content {
    width: 50%;
  }
}
