<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-segment [(ngModel)]="selectedTab" color="primary">
        <ion-segment-button value="list">All Facts</ion-segment-button>
        <ion-segment-button value="contribute">Contribute</ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>
  @if (loading) {
  <app-loading-spinner message="Loading facts..."></app-loading-spinner>
  } @else {
  <ion-content>
    @if (selectedTab === 'list') { @for (fact of facts; track fact.fact_id) {
    <standalone-fact [fact]="fact"></standalone-fact>
    } @empty {
    <p>No facts available.</p>
    } } @if (selectedTab === 'contribute') {
    <form (submit)="$event.preventDefault(); submitFact()">
      <ion-item>
        <ion-label position="floating">Text</ion-label>
        <ion-input [(ngModel)]="newFact.text" name="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Source</ion-label>
        <ion-textarea
          [(ngModel)]="newFact.source"
          name="source"
          required
        ></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Topic</ion-label>
        <ion-input
          (click)="handleTopicInputClick()"
          [(ngModel)]="topicSearch"
          [readonly]="selectedTopic"
          name="topicSearch"
          (ionInput)="searchTopics(($event.target.value ?? '').toString())"
          placeholder="Search topic..."
          required
        ></ion-input>
      </ion-item>
      @if (topics.length && !selectedTopic) {
      <ion-list>
        @for (topic of topics; track topic.topic_id) {
        <ion-item button (click)="selectTopic(topic)">
          {{ topic.name }}
        </ion-item>
        }
      </ion-list>
      }
      <ion-button expand="block" type="submit" style="margin-top: 20px"
        >Submit Fact</ion-button
      >
    </form>
    }
  </ion-content>
  }
</ion-app>
